@{
    ViewData["Title"] = "Home";
}

<div class="card">
                <div class="card-header">
                    Blob: @ViewBag.BlobName
                </div>
                <div class="card-body">
                    <pre class="mb-0">@ViewBag.BlobContent</pre>
                </div>
</div>