@{
    ViewData["Title"] = "Home";
}

<div class="text-center mb-4">
    <h1 class="display-6">Web Application</h1>
    <p class="lead">This is a simple web application demonstrating authentication and authorization using ASP.NET Core Identity.</p>
</div>

